.section-content {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul.shipping-list {
    list-style: none;
    padding: 0;
  }
  
  .shipping-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
  }
  
  .shipping-item p {
    margin: 0;
  }
  
  .action-buttons button {
    margin-left: 5px;
  }
  
  .edit-input,
  .new-address-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .add-address {
    margin-top: 20px;
  }
  
  .add-btn,
  .edit-btn,
  .delete-btn,
  .save-btn,
  .cancel-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-btn:hover,
  .edit-btn:hover,
  .delete-btn:hover,
  .save-btn:hover,
  .cancel-btn:hover {
    background-color: #0056b3;
  }
  
  .delete-btn {
    background-color: #dc3545;
  }
  
  .delete-btn:hover {
    background-color: #a71d2a;
  }
  
  .cancel-btn {
    background-color: #6c757d;
  }
  
  .cancel-btn:hover {
    background-color: #565e64;
  }
  