/* General Container */
.forgot-password-container {
    max-width: 500px;
    margin: 10% auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, blue, rgb(0, 0, 0)); 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .forgot-password-title {
    text-align: center;
    font-size: 2rem;
    color: aliceblue;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-size: 1rem;
    color: aliceblue;
    display: block;
    text-align: start;
  }
  
  .form-input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
  .message {
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
  }
  
  .message.success {
    color: #4caf50;
  }
  
  .message.error {
    color: #f44336;
  }
  
  @media (max-width: 768px) {
    .forgot-password-container {
      padding: 15px;
    }
  
    .submit-btn {
      font-size: 1rem;
    }
  }
  