/* General Layout */
.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7fa;
    text-align: center;
  }
  
  .not-found-title {
    font-size: 6rem;
    font-weight: bold;
    color: #e74c3c;
    margin-bottom: 20px;
  }
  
  .not-found-message {
    font-size: 1.2rem;
    color: #555;
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    .not-found-title {
      font-size: 4rem; /* Adjust title size for smaller screens */
    }
  
    .not-found-message {
      font-size: 1rem; /* Adjust message font size for smaller screens */
    }
  }
  