/* General Container */
.reset-password-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  max-width: 1500px; /* Set a maximum width for the container */
  margin: 5% auto; /* Center the container horizontally */
  padding: 20px;
  border-radius: 8px;
  font-family: 'Arial', sans-serif;
}

.reset-password-img-wrapper {
  display: flex; /* Center the image vertically */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}

.reset-password-img-wrapper img {
  max-width: 100%; /* Ensure the image is responsive */
  height: 500px; /* Maintain aspect ratio */
  max-height: 600px; /* Limit the height */
}

.reset-password-form-wrapper {
  border-radius: 8px;
  padding: 50px;
  background: linear-gradient(135deg, blue, rgb(0, 0, 0)); 
  width: 100%; 
  max-width: 500px;
}

.reset-password-title {
  font-size: 2.5rem; /* Title size */
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  color: aliceblue;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: aliceblue;
}

 .form-input {
  padding: 12px;
  font-size: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-submit-btn {
  padding: 12px;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.form-submit-btn:hover {
  background: linear-gradient(135deg, blue, white);
}

.form-submit-btn:focus {
  outline: none;
}

.success-message {
  color: green;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .reset-password-container {
    grid-template-columns: 1fr; /* Stack on smaller screens */
    padding: 15px;
  }

  .reset-password-title {
    font-size: 1.5rem; /* Adjust title size for smaller screens */
  }

  .form-input,
  .form-submit-btn {
    font-size: 1rem; /* Adjust font size for inputs and buttons */
  }
}