.PastFeedback {
  color: black;
  font-size: 1.5rem;
}

.feedback-history-section {
  padding: 10px;
}

.feedback-list {
  list-style-type: none;
  padding: 0;
}

.feedback-item {
  background-color: #f9f9f9;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.feedback-item-paragraphe {
  margin: 10px 0;

}
.feedback-item-paragraphe-strong{
  font-weight: bold;
  text-decoration: underline blue 2px;
}

.feedback-item:hover {
  background-color: #eef2f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.feedback-section {
  animation: fadeIn 0.8s ease-out;
}