.orders-section {
  width: 80%; 
  border-radius: 10px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

.orders-heading {
  font-size: 28px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
  text-align: center;
}

.orders-loading-text,
.orders-error-message,
.orders-empty-message {
  font-size: 16px;
  color: #dc3545;
  text-align: center;
}

.orders-empty-message {
  color: #6c757d;
}

.orders-list {
  list-style-type: none;
  padding: 0;
}

.order-item {
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 12px;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.order-detail {
  font-size: 16px;
  margin: 10px 0;
  text-align: start;
}

.order-items {
  list-style-type: none;
  padding-left: 20px;
}

.order-item-detail {
  margin-bottom: 12px;
  background: linear-gradient(145deg, #ffffff, #f1f1f1);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.order-item-detail:hover {
  background: linear-gradient(145deg, blue, aqua);
  color: aliceblue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-product {
  font-size: 14px;
  margin: 5px 0;
  color: rgb(51, 50, 50);
}
.order-product:hover {
  font-size: 14px;
  margin: 5px 0;
  color: aliceblue;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.orders-section {
  animation: fadeIn 0.8s ease-out;
}
